
.ul-1{
    margin-left:100px;
    margin-top:50px;
    font-size: 18px;
}

.ul-3{
    list-style-type: square;
}
/* HTML */
.ul-2 {
    display: none;
  }
  
  .ul-1:hover .ul-2{
    display: block;
    
  }
  .ul-3{
    display: none;
  }
  .li-html:hover .ul-3{
    display: block;
  }
  /* css */
  .ul-css{
    display: none;
  }
  .section:hover .ul-css{
    display: block;
  }
.ul-intro{
  display: none;
}
.tocss:hover .ul-intro{
    display: block;
}
.ul-combine{
    display: none;

}
.drop:hover .ul-combine{
    display: block;
}